.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
    @media (min-width: 768px) {
      padding: 3% 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    &-heading {
      font-weight: 300;
    }
    .container {
      max-width: 40rem;
    }
  }